<!-- SECTION MODAL1 BOOKING FORM(POP UP)================================================-->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" id="modal-width">
    <div class="modal-content" id="booking-form">
      <div
        class="modal-header d-flex justify-content-center align-items-center"
        id="header-booking-form">
        <!-- BUTTON X CLOSE MODAL -->
        <img src="svg/book-step2.svg" class="booking-steps" />
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body" id="body-booking-form2">
        <!-- SECTION BOOKING FORM================================================-->
        <div class="container" id="book-room-form">
          <div class="row justify-content-center">
            <div class="">
              <div class="form-title">
                <div class="fw-bold mb-3 main-titles-30px">Book your room</div>

                <!-- FORM -->
                <form
                  action="/bookingForm"
                  method="post"
                  class="needs-validation"
                  id="form-booking"
                  novalidate>
                  <!-- full name or username-->
                  <div class="form-floating mb-4">
                    <input
                      name="full_name"
                      type="texts"
                      class="form-control form-control-sm green"
                      placeholder="Full name or Username*"
                      id="floatingInput_name"
                      value="{{full_name}}" />
                    <span id="name-error"></span>
                    <label for="floatingInput">Full name*</label>
                  </div>

                  <!-- email -->
                  <div class="form-floating mb-4">
                    <input
                      name="email"
                      type="email"
                      class="form-control form-control-sm green"
                      placeholder="Email"
                      id="floatingInput_email"
                      value="{{email}}" />
                    <label for="floatingInput">Email*</label>
                  </div>
                  <!-- phone -->
                  <div class="form-floating mb-4">
                    <input
                      name="phone"
                      type="tel"
                      class="form-control form-control-sm green"
                      placeholder="Phone Number"
                      id="floatingInput_phone"
                      value="{{phone_number}}" />
                    <label for="floatingInput">Phone Number</label>
                  </div>

                  <!-- terms & conditions -->
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="flexCheckDefault" />
                    <label
                      class="form-check-label"
                      for="flexCheckDefault"
                      id="terms-checkbox">
                      I accept the terms
                    </label>
                  </div>

                  <div class="mt-3">
                    <input
                      class="btn primary-button"
                      type="submit"
                      id="sumbit-booking"
                      value="SUBMIT" />
                  </div>

                  {{!-- KRYMMENA STOIXEIA --}}
                  <!-- Hidden Fields -->
                  <input
                    type="hidden"
                    name="hiddenPrice"
                    id="priceEx"
                    value="" />
                  <input
                    type="hidden"
                    name="hiddenBreakfast"
                    id="breakf-ex"
                    value="false" />
                  <input
                    type="hidden"
                    name="hiddenWifi"
                    id="fastwifi-ex"
                    value="false" />
                  <input
                    type="hidden"
                    name="hiddenRoomId"
                    id="roomId-ex"
                    value="" />
                  <input
                    type="hidden"
                    name="hiddenArrivalDate"
                    id="checkIn-ex"
                    value="" />
                  <input
                    type="hidden"
                    name="hiddenDepDate"
                    id="checkOut-ex"
                    value="" />
                </form>
                <!-- FORM END-->

                <div class="mt-3">
                  Don't have account? <span id="SignUp">Sign up</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- SECTION BOOKING FORM END -->
        <!-- SECTION CUSTOMIZE AND REVIEW YOUR BOOKING -->
        <div class="custom-booking">
          <!-- title -->
          <div class="main-titles-30px">Review & Customize your booking</div>

          <!-- check in & check out dates -->
          <div class="d-flex gap-2 justify-content-start">
            <div class="d-flex gap-2 align-items-center justify-content-start">
              <img class="icon-18px" src="svg/calendar.svg" />
              <p id="popUpDatesDis" class="card-text">
                {{checkInDate}} - {{checkOutDate}}
              </p>
            </div>
            <hr class="vl2" />
            <div
              class="d-flex gap-2 align-items-center justify-content-start pl-2">
              <img class="icon-18px" src="svg/people-new.svg" />
              <p id="popUpGuestDis" class="card-text">{{GuestNumber}} adults</p>
            </div>
          </div>

          <!-- ROOM -->
          <div class="room-summary">
            <div class="room-text">
              <div class="price-tag-19px">{{RoomTypeName}}</div>
              <h6 class="ral-brown">
                Included: double bed with shower <br />
                TV, Safe box, internet, telephone
              </h6>
            </div>
            <img
              id="PopUpRoomPhoto"
              class="popUpImgStyle"
              src="{{PhotoRoomType}}"
              alt="city double room" />
          </div>

          <!-- COST & EXTRAS -->
          <div class="costs">
            <div class="total-costs">
              <div class="total-cost-desc">
                <div class="price-tag-19px">Total Cost</div>
                <h6 id="main-price">{{TypeRoomPrice}}€/day</h6>
              </div>

              <div
                class="total-cost-price main-titles-30px green"
                id="total-price">
                {{TypeRoomPrice}}€
              </div>
              {{!--
            </div>
            --}} {{!-- added a div --}}
          </div>

          <div class="total-breakf-cost">
            <div class="total-cost-desc">
              <div class="price-tag-19px">Breakfast</div>
              <h6>You can include breakfast for 8€ / person</h6>
            </div>
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                id="flexSwitchCheckDefault2" />
            </div>
          </div>

          <div class="total-breakf-cost">
            <div class="total-cost-desc">
              <div class="price-tag-19px">Fast Wifi</div>
              <h6>You can include fast- wifi for 5€ / person</h6>
            </div>
                      {{!-- added a div --}}
          <div class="form-check form-switch">
            <input
              class="form-check-input"
              type="checkbox"
              id="flexSwitchCheckDefault" />
          </div>
          </div>

        </div>
      </div>
    </div>
    <!-- SECTION END CUSTOMIZe-->

    <!-- modal body end -->
  </div>
</div>
