<!-- FLUID CONTAINER BOOTSTRAP------------------------------------------------------------- -->
  <main class="container-fluid">



{{!-- <!-- SECTION--hereo image --> --}}
<section id="hero-image" class="hereo-image-hotel">

    <div class="big-title-75px title-position">
        <p id="up-to-book">ENJOY</p>
        <h1>your stay</h1>
    </div>
    {{!-- <!-- SECTION SEARCH --> --}}
    <div class="row">
        {{!-- <div class="search-options position-absolute" style="background-color: blue; height:50px;padding:15px; align-text:center; bottom:30%;top:86%; box-sizing:content-box;"></div> --}}
        <!-- search-options -->
        <!-- FORM 1 -->
        <form method="get" action="/bookingList" class="search-options position-absolute" >
            
            <!-- search field check in -->
                <!-- search field check out -->
                <div class="icon_and d-flex flex-column">
                    <label>Check in</label>
                    <input style="padding: 2px;" name="checkInDate" id="current-date-input" type="date" placeholder="Check in">
                </div>
            

                <hr class="vl">

                <!-- search field check out -->
            <div class="icon_and d-flex flex-column">
                <label>Check out</label>
                <input style="padding: 2px;"  name="checkOutDate" id="twodays-date-input" type="date" placeholder="Check out">
            </div>
        


            <hr class="vl">

              <!-- search field check out -->
            <div class="icon_and align-items-start d-flex flex-column justify-content-start">
                    <label class="">Quests</label>
                    <div class="search_and_date">
                    <select id="popUpGuests" class="form-select form-select-lg" name="GuestNumber" aria-label=".form-select-lg example">
                        {{!-- <option value="1">1 adult</option> --}}
                        <option value="2" selected>2 adults</option>
                        <option value="3">3 adults</option>
                        <option value="4">4 adults</option>
                    </select>
                    <img src="svg/people-new.svg" alt="check in">
                    </div>
            </div>

                <div>
                    <!-- <img src="assets/images/search-icon.svg" alt="search"> -->
                     {{!-- <a href="/getRoomDesc?roomTypeId={{room_type_id}}"></a> --}}
                     {{!-- href="/bookingList?roomTypeId={{room_type_id}}" --}}
                    <button type="submit"  id="CheckavailButt" class="btn primary-button">CHECK AVAILABILITY</button>
                </div>
            </form>
        <!-- search-options -->
        <!-- FORM 1 -->

        </div>
</section>



<!-- SECTION --ABOUT US-->
<section  class="aboutus-photo-position">
    <div class="align-items-center p-1 row m-12">
        <div class="col-12 col-md-5">
            <div class="small-title-17px">WELCOME</div>
            <div class="animate__animated animate__fadeInLeft big-titles-29px ">COMFORTA HOTEL</div>
            
            <div class="animate__animated animate__fadeInLeftBig main-text-16px">Welcome to Comforta, where we offer a variety of comfortable and stylish rooms to suit your needs. Whether you're traveling for business or pleasure, we have the perfect accommodations for you.</div>
            <br>
            <div class="animate__animated animate__fadeInLeftBig main-text-16px">
            Our standard rooms are cozy and functional, featuring a comfortable bed, a desk, and a private bathroom. If you're looking for something a bit more spacious, our deluxe rooms offer a little extra room to relax, as well as additional amenities like a mini-fridge and coffee maker.
            </div>
        </div>

        <!-- keno -->
        <div class="col-md-1"></div>

        <div class="col-12 col-md-6">
            <img id="about-us-image" src="images/comforta.png"> 
        </div>
               
    </div>
</section>




<!-- SECTION --FWTOGRAFIWN-->
<section class=" d-flex section-bottom-margins-l">

    <!-- PHOTO CAROUSEL ----------------------------------->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>

  <div id="myCarousel" class="carousel slide container" data-bs-ride="carousel">
      <div class="carousel-inner w-100">
          <div class="carousel-item active">
              <div class="col-md-3">
                  <div class="card2 card-body">
                      <img class="img-fluid" src="images/orth-1.1.png">
                  </div>
              </div>
          </div>
          <div class="carousel-item">
              <div class="col-md-3">
                  <div class="card2 card-body">
                      <img class="img-fluid" src="images/orth-1.2.png">
                  </div>
              </div>
          </div>
          <div class="carousel-item">
              <div class="col-md-3">
                  <div class="card2 card-body">
                      <img class="img-fluid" src="images/orth-1.3.png">
                  </div>
              </div>
          </div>
          <div class="carousel-item">
              <div class="col-md-3">
                  <div class="card2 card-body">
                      <img class="img-fluid" src="images/orth-1.4.png">
                  </div>
              </div>
          </div>
          <div class="carousel-item">
              <div class="col-md-3">
                  <div class="card2 card-body">
                      <img class="img-fluid" src="images/orth-1.5.png">
                  </div>
              </div>
          </div>
          <div class="carousel-item">
              <div class="col-md-3">
                  <div class="card2 card-body">
                      <img class="img-fluid" src="images/orth-1.6.png">
                  </div>
              </div>
          </div>
          <div class="carousel-item">
              <div class="col-md-3">
                  <div class="card2 card-body">
                      <img class="img-fluid" src="images/orth-1.7.png">
                  </div>
              </div>
          </div>
          <div class="carousel-item">
              <div class="col-md-3">
                  <div class="card2 card-body">
                      <img class="img-fluid" src="images/orth-1.8.png">
                  </div>
              </div>
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
      </button>
  </div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
{{!-- <!-- PHOTO CAROUSEL END -----------------------------------> --}}
</section>




<!-- HOTEL SERVICES SECTION -->
<section class="photo-services">

<!-- HOTEL SERVICES(1) -->
<div class="container section-bottom-margins-l ">
    <!-- ΠΡΑΣΙΝΟ BACKGROUND HOTEL SERVICES  -->


    <div class="row m-12">
        <div class="big-titles-29px d-flex justify-content-end ">HOTEL SERVICES</div>
    </div>

    <div class="row">
        <!-- keno col -->
        <div class="col-md-4"></div>
        <div class=" col-12 col-md-8 d-flex justify-content-around g-5 wrap">
            <div class="four-services2">
                <div class="two-services2">
                    <div class=" services2">
                        <img src="svg/24hours.svg" alt="check in">
                        <p class="price-16px dark-green">24 hours
                            reception</p>
                    </div>
                    <div class="services2">
                        <img src="svg/elevator.svg" alt="check in">
                        <p class="price-16px dark-green">Elevator</p>
                    </div>
                </div>
                
                <div class="two-services2">
                    <div class=" services2">
                        <img src="svg/Luggage.svg" alt="check in">
                        <p class="price-16px dark-green">Luggage
                            Storage</p>
                    </div>
                    <div class=" services2">
                        <img src="svg/Wake-up-service.svg" alt="check in">
                        <p class="price-16px dark-green">Wake-up service</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    </div>

<!-- </div> -->


<!-- HOTEL SERVICES(2) -->
<div class="container section-bottom-margins">

    <div class="row m-12">
        <div class=" big-titles-29px d-flex justify-content-start ">ROOM AMENITIES</div>
    </div>

    <div class="row ">

        <div class=" col-12 col-md-8 d-flex justify-content-around g-5 wrap">
            <div class="four-services2">
            <div class="two-services2">
            <div class=" services2">
                <img src="svg/TV.svg" alt="check in">
                <p class="price-16px dark-green">TV</p>
            </div>
            <div class="services2">
                <img src="svg/Fully-Furnished.svg" alt="check in">
                <p class="price-16px dark-green">Fully 
                    Furnished</p>
            </div>
        </div>
        <div class="two-services2">
            <div class=" services2">
                <img src="svg/Towels.svg" alt="check in">
                <p class="price-16px dark-green">Towels</p>
            </div>
            <div class=" services2">
                <img src="svg/Cleaning-Services.svg" alt="check in">
                <p class="price-16px dark-green">Cleaning Services</p>
            </div>
        </div>
            </div>
        </div>
                <!-- keno col -->
                <div class="col-md-4"></div>
    </div>
</div>
</section>




<!-- SECTION ROOMS CARDS -->
<section class="section-bottom-margins">
    <div class="row m-12 g-4 align-items-start align-items-md-center py-5 py-md-0 section-bottom-margins-l">
        <div class="col-12 col-md-8">
            <div class="align-items-center p-1 row">
                <div class=" big-titles-29px">OUR ROOMS</div>
                <div class=" main-text-16px">For those seeking a more luxurious experience, our suites are the perfect choice. With separate living and sleeping areas, a kitchenette, and a Jacuzzi tub, you'll have everything you need to unwind in style.</div>
            </div>
        </div>

        <!-- KENO -->
        <div class="col-12 col-md-2"></div> 

        <div class="col-12 col-md-2">
            <a href="#up-to-book" class=" primary-button btn btn-primary">BOOK A ROOM</a>
        </div> 
    </div>


{{!-- KARTES HANDLEBARS --}}
<div class="row m-12 cards justify-content-center">
{{#each RoomTypePostg}}
    <div class="card-room">

        <a href="/getRoomDesc?roomTypeId={{room_type_id}}">
        <!-- fotografia -->
        <img src={{room_type_photo}} class="card-photo">
        </a>

        <!-- text -->
        <div class="text-card">
            <!-- name and price -->
            <div class="d-flex
            gap-4">
                <div class="main-text-16px room-type">{{room_type_name}}</div>
                <div class="main-text-16px color-brown">{{room_type_price}}€</div>
            </div>

            <!-- icons -->
            <div class="d-flex gap-3 align-items-center justify-content-start">
                <img class="dimensions-icon" src="svg/people2.svg">
                <p class="card-text">{{quests_amount}} adults</p>
            </div>
            <div class="d-flex gap-3 align-items-center justify-content-start">
                <img class="dimensions-icon" src="svg/sqm.svg">
                <p class="card-text">{{room_sqm}} m<sup>2</sup></p>
            </div>
        </div>

    </div>
{{/each}}
</div>
    <!-- karta1 -->
{{!-- {{#each roomTypes}} --}}        {{!--OTAN THA EXOYME TH BASSIIIIII href="/product/{{productId}}" --}}
        {{!-- "/mesDelete?id={{this.id}} --}}
         {{!-- href="Enoikiash?id={{this.id}}&cat={{this.category_name}}" --}}

</section>



<!-- SNACK BAR -->
<section class="section-bottom-margins">
<div class="snack-bar">
    <img class ="image-snack"  src="images/snack-bar.png">
    <div class="text-snack-bar">
        <div class="main-text-snack">
            <div class="big-titles-29px">SNACK BAR</div>
            <div class="main-text-16px">At Comforta we know that sometimes you need a quick bite to eat or a refreshing drink to keep you going throughout the day. That's why we offer a variety of delicious options at our snack bar.</div>
        </div>
        <div class="hours-snack d-flex gap-2 align-items-center color-brown ">
            <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
<lord-icon
    src="https://cdn.lordicon.com/qznlhdss.json"
    trigger="hover"
    colors="primary:#121331"
    style="width:24px;height:24px;">
</lord-icon>
            {{!-- <img src="svg/hours-snack.svg"> --}}
            <h6>Opening hours 08.00-23.00 </h6>
        </div>
    </div>
</div>
</section>
<!-- SNACK BAR -->


    <!-- COMMENTS -->
<section class="row comment-background section-bottom-margins-l">
    <!-- na ftiaksw klasi -->
    <div class="termilogies">
        <div class="big-titles-29px section-bottom-margins-l">TERMINOLOGIES</div>
        <div style="gap: 30px;" class="d-flex flex-wrap justify-content-center">
            <div class="comments"><p>"I had a wonderful stay at this hotel! The room was clean and comfortable, the staff were friendly and helpful, and the location was perfect for exploring the city."</p></div>
        
        
            <div class="comments"><p>""I had a wonderful experience at this hotel. The room was comfortable and quiet, and the amenities were great. The staff were also very helpful and provided excellent recommendations for local restaurants and attractions."</p></div>
        
            <div class="comments"><p>"I would highly recommend this hotel to anyone visiting the area. The rooms are modern and well-appointed."</p></div>
        </div>
    </div>
     <!-- COMMENTS -->
</section>
